div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 60%;
    height: 100%;
    width: 100%;
    background-color: black;
}

ul {
    color: white;
    list-style-type: none;
    font-size: var(--font-regular);
}

li {
    padding: clamp(1vh, 2rem, 3vh);
}